@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css");
@import "bootstrap/dist/css/bootstrap.min.css";
@import "primevue/resources/themes/bootstrap4-dark-purple/theme.css";
@import "primevue/resources/primevue.min.css";
@import "primeicons/primeicons.css";
@import "./variables.scss";
@import "./splitpanes.scss";
html,
body,
#root {
   width: 100vw;
   height: 100vh;
   overflow: hidden;
}

body {
   background-color: $slate-700;
   font-family: "Catamaran", sans-serif;
   color: $light-600;
}

::-webkit-scrollbar {
   width: 8px;
   height: 8px;
   border-radius: 6px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
   background: $slate-800;
}

::-webkit-scrollbar-thumb {
   background: $slate-500;
}

::-webkit-scrollbar-thumb:hover {
   background: lighten($slate-500, 5%);
}

::-webkit-scrollbar-thumb:active {
   background: lighten($slate-500, 10%);
}
