@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;700&display=swap");
// @import url("https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css");
@import "bootstrap/dist/css/bootstrap.min.css";
@import "primevue/resources/themes/bootstrap4-dark-purple/theme.css";
@import "primevue/resources/primevue.min.css";
@import "primeicons/primeicons.css";
@import "./variables.scss";
@import "./splitpanes.scss";

html,
body,
#root {
   width: 100vw;
   height: 100vh;
   overflow: hidden;
}

body {
   background-color: $slate-700;
   font-family: "Catamaran", sans-serif;
   color: $light-600;
}

::-webkit-scrollbar {
   width: 8px;
   height: 8px;
   border-radius: 6px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
   background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
   background: rgba(180, 202, 255, 0.15);
}

::-webkit-scrollbar-thumb:hover {
   background: rgba(180, 202, 255, 0.2);
}

::-webkit-scrollbar-thumb:active {
   background: rgba(180, 202, 255, 0.25);
}

.drawer-file.drawer-highlight {
   background: $slate-500;
   border-radius: 5px;
}

.p-tooltip-text,
.p-menuitem-text,
.p-button-label {
   font-size: 0.8em;
}

.p-menuitem-text {
   max-width: 200px;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

.p-menuitem-text,
.p-menuitem-icon {
   padding-bottom: 3px;
}
