// @import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/@mdi/font@7.2.x/css/materialdesignicons.min.css");
@import "bootstrap/dist/css/bootstrap.min.css";
@import "primevue/resources/themes/md-dark-indigo/theme.css";
@import "primevue/resources/primevue.min.css";
@import "primeicons/primeicons.css";
@import "./variables.scss";
@import "./splitpanes.scss";

html,
body,
#root {
   width: 100vw;
   height: 100vh;
   overflow: hidden;
}

body {
   background-color: var(--surface-ground);
   // font-family: "Catamaran", sans-serif;
   color: $light-600;
}

::-webkit-scrollbar {
   width: 10px;
   height: 10px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
   background: none;
}

::-webkit-scrollbar-thumb {
   background-color: rgba(122, 122, 122, 0.2);
   border-radius: 4px;
   transition: background-color 150ms;
}

::-webkit-scrollbar-thumb:hover {
   background-color: rgba(122, 122, 122, 0.3);
}

.drawer-file {
   border-radius: 4px;
   cursor: pointer;

   &.drawer-highlight {
      background-color: var(--surface-50) !important;
   }

   &:not(.drawer-highlight):hover {
      background-color: var(--surface-hover) !important;
   }

   transition-property: height, opacity, background-color !important;
   transition-duration: 100ms !important;
}

.p-tooltip {
   max-width: unset !important;
}

.p-tooltip-text,
.p-menuitem-text,
.p-button-label {
   font-size: 0.9em;
}

.p-button-label {
   flex: 1 !important;
   overflow: hidden !important;
   text-overflow: ellipsis !important;
   white-space: nowrap !important;
}

.p-virtualscroller-content {
   width: 100%;
}

.text-danger * {
   color: var(--bs-danger) !important;
   font-weight: bold;
}

.p-menuitem-text {
   max-width: 200px;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

.gelatine {
   animation: gelatine 0.5s infinite;
}

@keyframes gelatine {
   from,
   to {
      transform: scale(1, 1);
   }
   25% {
      transform: scale(0.9, 1.1);
   }
   50% {
      transform: scale(1.1, 0.9);
   }
   75% {
      transform: scale(0.95, 1.05);
   }
}

img[alt="logo"] {
   pointer-events: none;
   user-select: none;
}

.mdi {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 24px;
   height: 24px;
   font-size: 1.2rem;
   line-height: 0;
}

.p-toast-message-text {
   width: calc(100% - 100px) !important;
   white-space: break-spaces !important;
   text-overflow: ellipsis !important;
   overflow: hidden !important;
}

.p-panelmenu {
   .p-menuitem-link {
      padding: 0.5rem 2rem !important;
   }

   .p-menuitem-text {
      margin-right: 3rem !important;
   }

   .p-panelmenu-header-action {
      padding: 0.75rem 1.5rem !important;
   }
}

.p-dropdown-items-wrapper {
   min-width: 200px;
}

.p-dialog-header {
   padding: 1.5rem !important;
}

.p-dialog-content {
   padding: 0 1.5rem 1.5rem 1.5rem !important;
}

.p-dialog-footer {
   padding: 1rem 1.5rem !important;
}

.p-multiselect-label {
   white-space: normal !important;
}

.p-multiselect-token,
.p-chips-token {
   margin-top: 0.125rem;
   margin-bottom: 0.125rem;
}

.p-checkbox-icon::before {
   box-sizing: unset !important;
}

.p-inputgroup .p-button,
.p-sidebar-close {
   flex-shrink: 0;
}

.p-sidebar-header-content {
   width: 100% !important;
}

.monaco-remote-cursor-tooltip {
   display: none;
}

.monaco-remote-cursor {
   &:hover {
      .monaco-remote-cursor-tooltip {
         display: block !important;
      }
   }
}
