$light-100: #fcfdfe;
$light-200: #e9edf1;
$light-300: #e1e5e9;
$light-400: #dbdfe3;
$light-500: #d3d7db;
$light-600: #bec2c8;
$light-700: #b7bdc3;
$light-800: #adb1b9;
$light-900: #a1a6ad;

$slate-100: #5f6570;
$slate-200: #565b65;
$slate-300: #4a4e58;
$slate-400: #41454d;
$slate-500: #363940;
$slate-600: #29282f;
$slate-700: #202125;
$slate-800: #1b1c1f;
$slate-900: #151618;
$slate-1000: #101112;

$accent: #5643b6;
