$light-100: #fcfdfe;
$light-200: #e9edf1;
$light-300: #e1e5e9;
$light-400: #dbdfe3;
$light-500: #d3d7db;
$light-600: #bec2c8;
$light-700: #b7bdc3;
$light-800: #adb1b9;
$light-900: #a1a6ad;

$slate-100: #505c6f;
$slate-200: #495267;
$slate-300: #3b4457;
$slate-400: #353d4d;
$slate-500: #2e3542;
$slate-600: #25282f;
$slate-700: #1c1f25;
$slate-800: #181a21;
$slate-900: #111318;
$slate-1000: #0e0f12;

$accent: #5643b6;